* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

section {
    padding: 120px 0px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.slider {
    max-width: 498px;
    margin: 0 auto;
    position: relative;
    display: flex;
}

.slide-item img {
    width: 100%;
    display: block;
    aspect-ratio: 7/7;
    object-fit: cover;
    object-position: right center;
    position: relative;
}

.slide .caption {
    text-align: right;
    position: absolute;
    bottom: 15px;
    right: 95px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 5px;
    padding: 5px;
}

.slide .caption p {
    font-size: 11px;
    margin-top: 5px;
    font-weight: 300;
}

.ctrl {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: lightgray;
    border-radius: 50%;
    line-height: 19px;
    padding: 0px 2px;
    cursor: pointer;
    border: 1px solid black;
}

.ctrl.ctrl-prev {
    top: 5px;
    z-index: 50;
}

.ctrl.ctrl-next {
    bottom: 5px;
    z-index: 50;
}

.slide > * {
    display: none;
}

.slide .active {
    display: block;
}

.thumbnails {
    flex-shrink: 0;
    flex-basis: 83px;
    position: relative;
}

.thumbnails > .thumb-item {
    opacity: 0.6;
}

.thumbnails .active {
    opacity: 1;
    border: 2px solid tomato;
}

.thumb-item img{
    width: 100%;
    display: block;
    aspect-ratio: 7/7;
    object-fit: cover;
    object-position: right center;
}

.btn-autoplay {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

#start, #stop {
    border: none;
    cursor: pointer;
    font-size: 25px;
}